/* ---- reset ---- */

body {
  margin: 0;

}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8BC6EC;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
#main-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-flow: row wrap;
}



#myname{
  font-family: 'Comfortaa', cursive;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

#link-buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#contact-buttons{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#aboutme{
  margin: 20px;
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  width: 60%;
  font-size: 18px;
  line-height: 200%;
}

mark {
  background-color: white;
  color: black;
}
